
/* Задаем основные параметры страници */
.body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background: #e5e5e5;
  max-width: 1440px;
}

/* box-sizing позволяет задавать свойства
width и height для блока, а не его содержимого, */
* {
  box-sizing: border-box;
}

/* Основные пораметры для header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px 58px 42.72px;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}
.header__logo {
  width: 166px;
  height: 51px;
  padding-right: 203px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}

/* Подгоняем элементы блока nav по размерам из проекта */
.header__nav-modelS {
  padding-right: 63.14px;
}
.header__nav-modelX {
  padding-right: 24.86px;
}
.header__nav-model3 {
  padding-right: 44px;
}
.header__nav-roadster {
  padding-right: 46px;
}
.header__nav-link {
  text-decoration: none;
  color: #000;
  padding-bottom: 6px;
  background: none;
}

/* меняем поведение ссылки при наведении */
.header__nav-link:hover {
  color: #e51937;
  background-image: url(img/vector.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: color .1s;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}

/* Подгоняем элементы меню по размерам из проекта */
.header__menu-score {
  padding-right: 30px;
}
.header__menu-input {
  padding-right: 30px;
}
.header__menu-burger:hover{
  cursor: pointer;
}

.main {
  position: relative;
}

/* Задаем расположение background по проекту */
.main__img-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Задаем размеры и расположение заголовка */
.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 28px;
}
 .main__h1 {
  margin: 0 auto;
  font-weight: 600;
  font-size: 90px;
}
.main__span {
  margin: 0 auto;
  padding-bottom: 26px;
  font-weight: 500;
  font-size: 14.7px;
  line-height: 0em;
}

/* Задаем расположение изображения в main */
.main__img-tesla {
  margin-top: 9px;
  margin-right: 74px;
  width: 968px;
  height: 450px;
  z-index: 2;
}

/* Создаем блок для размещения элементов под изображением */
.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat;
}

/* Блока с параметрами */
.main__inner {
  margin-left: 320px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 375px;
  height: 58px;

}

/* Блок  Grid*/
.main__inner-speed {
  display: grid;
}
.main__inner-road {
  display: grid;
}

/* Помещаем картинку в Grid*/
.main__img-speed {
  margin-right: 11.5px;
  width: 50px;
  height: 35.5px;
  grid-column: 1;
  grid-row: 1/3;
  align-self: center;
}

/* Помещаем большой текст в Grid */
.main__text-big {
  margin: 0;
  font-size: 35px;
  line-height: 35px;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

/* Помещаем средний текст в Grid */
.main__text-norm {
  margin: 0;
  font-size: 20px;
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  padding-left: 6px;
}

/* Помещаем маленький текст в Grid */
.main__text-small {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  flex-direction: row;
  grid-column: 2/4;
  grid-row: 2;
}

/* Помещаем картинку в Grid */
.main__img-road_ipad {
  display: none;
}
.main__img-road_dasktop {
  margin: 13px 6px 0px 76px;
  width: 42px;
  height: 59px;
  grid-column: 1;
  grid-row: 1/3;
}


/* Задаем переметры для ссылки тестдрайв */
.main__div-testdrive {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testdrive__wrapper {
  display: flex;
  align-items: center;
}
.main__img-testdrive {
  margin-right: 8px;
  fill: #000;
  height: 22px;
  width: 22px;
}
.main__link {
  display: flex;
  align-items: center;
  padding-left: 7px;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.main__link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0,.4);
}

/* Параметры кнопки */
.main__button {
  margin-left: 40px;
  width: 160px;
  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E51937;
  background: transparent;
  border: 2px solid #E51937;
  text-align: center;
  transition-duration: 0.4s;
}
.main__button:hover {
  background: #E51937;
  color: #000;
}

/* блок со стрелкой вниз */
.main__vector {
  display: flex;
  justify-content: center;
  margin-top: 23.5px;
}

/* Стрелка вниз */
.vector {
  border: solid black;
  border-width: 0 3px 3px 0;
  border-color: #E51937;
  display: inline-block;
  padding: 10px;;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 375px) {
  .body {
    margin: 0;
    background: red;
    max-width: 375px;
}

@media (max-width: 768px) {
  .body {
    margin: 0;
    background: #ffffff;
    max-width: 768px;
  }
  .header {
    padding: 24px 33px 80px 15.32px;
  }
  .header__nav-link {
    display: none;
  }
  .header__menu-burger {
    width: 35.23px;
    height: 22.02px;
  }
  .main__img-background {
    width: 829.81px;
    height: 271.49px;
    margin-top: 96px;
    transform: translateX(-10px);
  }
  .main__img-tesla {
    margin: 0;
    margin-top: 71px;
    width: 701px;
    height: 327.64px;
  }
  .main__inner {
    margin-left: 140px;
    margin-top: 19px;
  }
  .main__img-speed {
    margin-top: 4px;
    width: 65.92px;
    height: 50.16px;
    margin-right: 20px;
  }
  .main__img-road_dasktop {
    display: none;
  }
  .main__img-road_ipad {
    margin: 15px 6px 0px 76px;
    width: 58px;
    height: 73px;
    grid-column: 1;
    grid-row: 1/3;
  }
  .main__text-big {
    font-size: 50px;
    line-height: 55px;
  }
  .main__text-norm {
    font-size: 20px;
    line-height: 49px;
    padding-left: 9px;
  }
  .main__div-testdrive {
    margin-left: 154px;
    margin-top: 70px;
  }
  .main__img-testdrive {
    fill: #e51937;
    height: 30.37px;
    width: 30.37px;
    margin-left: 5px;
    margin-right: 16px
  }
  .main__link {
    font-size: 16px;
    line-height: 20px;
    color: #e51937;
    padding-left: 16px;
    font-size: 16px;
  }
  .main__button {
    width: 220.84px;
    line-height: 51px;
    font-size: 16px;
    background: #e51937;
    color: #fff;
    margin-left: 43px;
  }
  .main__vector {
    margin-top: 52px;
  }
}
